# ==========================================
# Configuration File for Login Panel
# ==========================================

# http/https Panel
PROTOCOL=http

# Panel Domain or IP Address
# Replace 'domain.top' with your server's domain or IP.
HOST=domain.com

# Panel Port
# Specify the port number your panel uses.
PORT=2020

# Panel Path
# This is the unique path to access your panel (if applicable).
PATH=tUNWS2QixUF8Hvq

# Login Credentials
# Update these with your panel's admin username and password.
USERNAME=admin
PASSWORD=admin

# Subscription Link
# The complete link to access the panel subscription.
# Replace the placeholders with actual values.
SUBSCRIPTION=https://test.domain.top:2096/sub/

PUBLIC_KEY_PATH=/root/cert/domain.top/fullchain.pem
PRIVATE_KEY_PATH=/root/cert/domain.top/privkey.pem

# Add your backup links in the variable below example : Vmess OR VLESS OR SSR ....
Backup_link=vless://efd7075f-5a41-449b-80ac-cca09d038a23@8.8.8.8:443?type=tcp&security=none#dvhost-7js7184z

TELEGRAM_URL=https://t.me/dvhost_cloud
