# ==========================================
# Configuration File for Login Panel
# ==========================================

# http/https Panel
PROTOCOL=http

# Panel Domain or IP Address
# Replace 'domain.top' with your server's domain or IP.
HOST=5.75.206.84

# Panel Port
# Specify the port number your panel uses.
PORT=2020

# Panel Path
# This is the unique path to access your panel (if applicable).
PATH=Y5dzJoF6oLu88iP

# Login Credentials
# Update these with your panel's admin username and password.
USERNAME=admin
PASSWORD=admin

# Subscription Link
# The complete link to access the panel subscription.
# Replace the placeholders with actual values.
SUBSCRIPTION=https://test.phserv.top:2096/sub/

PUBLIC_KEY_PATH=/root/cert/test.phserv.top/fullchain.pem
PRIVATE_KEY_PATH=/root/cert/test.phserv.top/privkey.pem

# Add your backup links in the variable below example : Vmess OR VLESS OR SSR ....
Backup_link=vless://.......

# Customize Subscription Port 
SUB_HTTP_PORT=2082
SUB_HTTPS_PORT=2083

# Template name 
TEMPLATE_NAME=default

TELEGRAM_URL=https://t.me/dvhost_cloud